.form-container input {
	background-color: transparent;
	border-color: var(--background);
	color: var(--background);
}

.form-container form {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2.2rem;
}

.form-container button {
	justify-content: center;
}
