---
import { NewsletterForm } from '@react/Form/NewsletterForm';
import { companyContact } from '@/data/company-contact';

const { email, phone, street, city } = companyContact;
---

<div class="contact">
	<div class="contact__info">
		<p class:list={['heading', 'heading-accent', 'contact__info__heading']}>Contact us:</p>
		<p>Email: {email}</p>
		<p>Phone: {phone}</p>
		<div class="contact__info__address">
			<p>Address: {street}</p>
			<p>{city}</p>
		</div>
	</div>

	<NewsletterForm client:load />
</div>

<style>
	.contact {
		display: flex;
		flex-direction: column;
		gap: 3.7rem;
		width: 100%;
	}

	.contact__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}

	.contact__info__heading {
		margin-bottom: 1.2rem;
		color: var(--foreground);
	}

	.contact__info__address {
		text-align: center;
	}

	@media (min-width: 1024px) {
		.contact {
			flex-direction: row;
			justify-content: space-between;
		}

		.contact__info {
			width: 100%;
			align-items: flex-start;
			gap: 1.5rem;
		}

		.contact__info__address {
			text-align: left;
		}
	}
</style>
