---
import { Icon } from 'astro-icon';
import { companyContact } from '@/data/company-contact';

const { linkedin, facebook, twitter } = companyContact.socials;
---

<div class="socials">
	<a href={linkedin} aria-label="Link to company's linkedin profile">
		<Icon name="brandico:linkedin" />
	</a>

	<a href={facebook} aria-label="Link to company's facebook profile">
		<Icon name="brandico:facebook" />
	</a>

	<a href={twitter} aria-label="Link to company's twitter profile">
		<Icon name="brandico:twitter" />
	</a>
</div>

<style>
	.socials {
		display: flex;
		gap: 15px;
	}

	.socials a {
		width: 35px;
		height: 35px;
		padding: 8px;
		top: 0;
		right: 0;
		border-radius: 50%;
		color: var(--foreground);
		background-color: var(--muted-background);
	}

	.socials svg {
		width: 20px;
		height: 20px;
	}

	@media (min-width: 1280px) {
		.socials {
			display: none;
		}
	}
</style>
