<div class="privacy-policy">
	<p>© 2023 Positivus. All Rights Reserved.</p>
	<a href="">Privacy Policy</a>
</div>

<style>
	.privacy-policy {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
		text-align: center;
	}

	a {
		color: var(--background);
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	@media (min-width: 1024px) {
		.privacy-policy {
			flex-direction: row;
			justify-content: flex-start;
			width: 100%;
			gap: 45px;
		}
	}
</style>
