---
import LinkWithArrow from '@/components/elements/LinkWithArrow.astro';
import { cases } from "@/data/use-cases"

---

<div class="case__wrapper card card-foreground">
	{
		cases.map(({ description, href }) => (
			<div class="case__item card card-foreground">
				<p>{description}</p>
				<LinkWithArrow href={href} iconPosition="right">
					Learn more
				</LinkWithArrow>
			</div>
		))
	}
</div>

<style>
	.case__wrapper {
		display: flex;
		flex-direction: column;
		color: var(--background);
	}

	.case__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		padding: 20px;
		padding-top: 40px;
		border-top: 1px solid var(--background);
		border-bottom: 1px solid var(--background);
		gap: 20px;
		border-radius: 0;
	}

	.case__item:first-child {
		border: none;
	}

	.case__item:last-child {
		border: none;
	}

	@media (min-width: 1024px) {
		.case__wrapper {
			flex-direction: row;
		}

		.case__item {
			padding: 10px 20px;
			border-right: 1px solid var(--background);
			border-left: 1px solid var(--background);
			border-top: none;
			border-bottom: none;
			gap: 20px;
		}

		.case__item:first-child {
			padding-left: 0;
			border: none;
		}

		.case__item:last-child {
			padding-right: 0;
			border: none;
		}
	}

	@media (min-width: 1280px) {
		.case__item {
			padding: 20px 40px;
		}
	}
</style>
