---
import Link from '../../elements/Link.astro';

interface Props {
	href: string;
}

const { href }: Props = Astro.props;
---

<div class="case">
	<p><slot /></p>
	<Link href={href} variant="secondary" textColor="primary" iconColor="color-1">Learn more</Link>
</div>

<style>
	.case {
		display: flex;
		flex-direction: column;
		flex: 1 1 20em;
		color: var(--background);
		gap: 20px;
		padding: 0 20px;
		border-right: 1px solid var(--background);
		border-left: 1px solid var(--background);
	}

	.case:first-child {
		padding-left: 0;
		border: none;
	}

	.case:last-child {
		padding-right: 0;
		border: none;
	}
</style>
