---
import SectionLabel from '../elements/SectionLabel.astro';
import DesktopCases from './CaseStudies/Cases.astro';
---

<section id="use-cases">
	<SectionLabel title="Case Studies" description="Explore Real-Life Examples of Our Proven Digital Marketing Success through Our Case Studies" />
	<DesktopCases />
</section>
