---
import SectionLabel from '../elements/SectionLabel.astro';
import Case from './CaseStudies/Case.astro';
---

<section id="use-cases">
	<SectionLabel title="Case Studies" description="Explore Real-Life Examples of Our Proven Digital Marketing Success through Our Case Studies" />

	<div class="case-wrapper">
		<Case href="">
			For a local restaurant, we implemented a targeted PPC campaign that resulted in a 50% increase in website traffic and a 25% increase in sales.
		</Case>
		<Case href="">
			For a B2B software company, we developed an SEO strategy that resulted in a first page ranking for key keywords and a 200% increase in organic traffic.
		</Case>
		<Case href="">
			For a national retail chain, we created a social media marketing campaign that increased followers by 25% and generated a 20% increase in online sales.
		</Case>
	</div>
</section>

<style>
	.case-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		background-color: var(--secondary);
		border-radius: 45px;
		padding: 60px 70px;
		overflow: hidden;
	}
</style>
