---
import SectionLabel from '@/components/elements/SectionLabel.astro';
import DesktopCases from './CaseStudies/Cases.astro';
import { getSectionById } from '@/utils/getSectionById';

const { id, title, description } = getSectionById("use-cases")
---

<section id={id}>
	<SectionLabel title={title} description={description} />
	<DesktopCases />
</section>
