---
import SectionLabel from '@/components/elements/SectionLabel.astro';
import { Icon } from 'astro-icon';
import { ContactForm } from '@react/Form/ContactForm';
import { getSectionById } from '@/utils/getSectionById';

const { id, title, description } = getSectionById("contact")
---

<section id={id}>
	<SectionLabel title={title} description={description} />

	<div class="card card-muted contact__form-wrapper">
		<ContactForm client:load />
		<Icon name="contact" class="contact__form-wrapper__icon" />
	</div>
</section>

<style>
	.contact__form-wrapper {
		border: none;
		box-shadow: none;
		position: relative;
		overflow: hidden;
	}

	.contact__form-wrapper__icon {
		display: none;
	}

	@media (min-width: 1024px) {
		.contact__form-wrapper {
			padding-right: 350px;
		}
		.contact__form-wrapper__icon {
			display: block;
			position: absolute;
			top: 100px;
			right: -280px;
			width: 600px;
			overflow: hidden;
		}
	}
</style>
