---
import SectionLabel from '../elements/SectionLabel.astro';
import { ContactForm } from '../react-components/ContactForm';
import { Icon } from 'astro-icon';
---

<section id="contact">
	<SectionLabel title="Contact Us" description="Connect with Us: Let's Discuss Your Digital Marketing Needs" />

	<div class="card card-muted contact__form-wrapper">
		<ContactForm client:load />
		<Icon name="contact" class="contact__form-wrapper__icon" />
	</div>
</section>

<style>
	.contact__form-wrapper {
		border: none;
		box-shadow: none;
		position: relative;
	}

	.contact__form-wrapper__icon {
		display: none;
	}

	@media (min-width: 1024px) {
		.contact__form-wrapper {
			padding-right: 350px;
		}
		.contact__form-wrapper__icon {
			display: block;
			position: absolute;
			top: 100px;
			right: -280px;
			width: 600px;
			overflow: hidden;
		}
	}
</style>
