---
import NavigationPanel from './Footer/NavigationPanel.astro';
import Contact from './Footer/Contact.astro';
import MobileSocials from './Footer/MobileSocials.astro';
import PrivacyPolicy from './Footer/PrivacyPolicy.astro';
---

<footer>
	<div class="card card-secondary footer__card">
		<NavigationPanel />
		<Contact />
		<MobileSocials />

		<div class="footer__separator"></div>

		<PrivacyPolicy />
	</div>
</footer>

<style>
	footer {
		margin-bottom: 0;
		padding-bottom: 0;
		padding: 0;
	}

	.footer__card {
		border-radius: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 37px;
		color: var(--muted);
	}

	.footer__separator {
		width: 100%;
		border-bottom: 1px solid var(--muted);
	}

	@media (min-width: 1024px) {
		footer {
			padding: 0 100px;
		}

		.footer__card {
			border-top-left-radius: 45px;
			border-top-right-radius: 45px;
			flex-direction: column;
			align-items: center;
			gap: 50px;
			color: var(--muted);
		}
	}
</style>
