---
import { Icon } from "astro-icon"
import Button from "../elements/Button.astro";
---

<section id="header">
    <div class="info" >
        <h1>Navigating the digital landscape for success</h1>
        <p>Our digital marketing agency helps businesses grow and succeed online through a range of services including SEO, PPC, social media marketing, and content creation.</p>
        <Button>Book a consultation</Button>
    </div>
    <div>
        <Icon name="main" />
    </div>
</section>

<style>
    #header {
        display: flex;
        margin: 70px 100px;
        justify-content: space-between; 
        gap: 30px;
    }

    #header div {
        width: 100%;
        display: flex;
    }

    .info {
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }
    
    .info h1 {
        margin: 0;
    }

    .info p {
        font-size: 20px;
        line-height: 28px;
    }

    @media only screen and (max-width: 1023px) {
        #header {
            flex-direction: column-reverse;
            margin: 35px 0;
        }

        #header div {
            width: 100%;
            margin: 0 auto;
        }

        .info button {
            width: 100%;
        }
    }

    @media only screen and (max-width: 1279px) {
        #header {
            padding: 0 50px;
            gap: 30px;
        }

        .info {
            gap: 10px;
        }
    }
</style>