---
import { Icon } from 'astro-icon';
---

<section id="logotypes">
	<Icon name="amazon-logo" />
	<Icon name="dribble-logo" />
	<Icon name="hubspot-logo" />
	<Icon name="notion-logo" />
	<Icon name="netflix-logo" />
	<Icon name="zoom-logo" />
</section>

<style>
	#logotypes {
		display: flex;
		flex-wrap: wrap;
	}

	#logotypes svg {
		flex: 1 0 20%;
		margin: 20px;
	}

	@media (min-width: 768px) {
		#logotypes svg {
			margin: 25px;
		}
	}

	@media (min-width: 1024px) {
		#logotypes {
			flex-wrap: nowrap;
			gap: 30px;
		}

		#logotypes svg {
			flex: auto;
			margin: 0;
		}
	}

	@media (min-width: 1280px) {
		#logotypes {
			gap: 75px;
		}
	}
</style>
