---
import { Icon } from 'astro-icon';
import { companies} from "@/data/companies"
---

<section id="logotypes">
	{companies.map((el) => <Icon name={el} />)}
</section>

<style>
	#logotypes {
		display: flex;
		flex-wrap: wrap;
		margin-top: 0;
	}

	#logotypes svg {
		flex: 1 0 20%;
		margin: 20px;
	}

	@media (min-width: 768px) {
		#logotypes svg {
			margin: 25px;
		}
	}

	@media (min-width: 1024px) {
		#logotypes {
			flex-wrap: nowrap;
			gap: 30px;
		}

		#logotypes svg {
			flex: auto;
			margin: 0;
		}
	}

	@media (min-width: 1280px) {
		#logotypes {
			gap: 75px;
		}
	}
</style>
