---
import { Icon } from 'astro-icon';
import Link from '../elements/Link.astro';
import Button from '../elements/Button.astro';
import HamburgerMenu from '../elements/HamburgerMenu.astro';

const links: Array<{ label: string; href: string }> = [
	{
		label: 'About us',
		href: '/#about',
	},
	{
		label: 'Services',
		href: '/#services',
	},
	{
		label: 'Use cases',
		href: '/#use-cases',
	},
	{
		label: 'Team',
		href: '/team',
	},
	{
		label: 'Blog',
		href: '/blog',
	},
];
---

<nav>
	<a href="/" id="logo">
		<Icon name="logo" />
	</a>

	<div id="desktop-menu">
		{
			links.map(({ label, href }) => (
				<Link href={href} variant="no-icon" textColor="secondary" iconColor="color-1">
					{label}
				</Link>
			))
		}
		<a href="/#contact">
			<Button variant="secondary">Request a quote</Button>
		</a>
	</div>

	<HamburgerMenu />
</nav>

<style>
	nav {
		display: flex;
		padding: 0 20px;
		justify-content: space-between;
		align-items: center;
	}

	#logo {
		width: 150px;
	}

	#desktop-menu {
		display: none;
	}

	@media (min-width: 1024px) {
		#desktop-menu {
			display: flex;
			gap: 40px;
		}

		nav {
			margin-top: 45px;
		}
	}

	@media (min-width: 1280px) {
		nav {
			margin-top: 60px;
			padding: 0 100px;
		}
	}
</style>
