---
import Card from '../elements/Card.astro';
import SectionLabel from '../elements/SectionLabel.astro';
import Proposal from './Proposal.astro';
import Service from './Services/Service.astro';
---

<section id="services">
	<SectionLabel
		title="Services"
		description="At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include:"
	/>

	<div class="services__container">
		<Service title="Search Engine Optimization" icon="webSearch" href="" bgColor="background" headingVariant="primary" />
		<Service title="Pay-per-click Advertising" icon="advertising" href="" bgColor="primary" headingVariant="secondary" />
		<Service title="Social Media Marketing" icon="socialMedia" href="" bgColor="secondary" headingVariant="secondary" />
		<Service title="Email Marketing" icon="email" href="" bgColor="background" headingVariant="primary" />
		<Service title="Content Creation" icon="contentCreator" href="" bgColor="primary" headingVariant="secondary" />
		<Service title="Analytics and Tracking" icon="analytics" href="" bgColor="secondary" headingVariant="primary" />
	</div>

	<Proposal />
</section>

<style>
	.services__container {
		display: grid;
		width: 100%;
		gap: 30px;
	}

	@media (min-width: 768px) {
		.services__container {
			grid-template-columns: repeat(2, 1fr);
		}
	}
</style>
