---
import SectionLabel from '../elements/SectionLabel.astro';
import Proposal from './Services/Proposal.astro';
import Service from './Services/Service.astro';

const services: Array<{
	title: string;
	icon: string;
	href: string;
	bgColor: 'accent' | 'foreground' | 'background';
	headingVariant: 'accent' | 'foreground' | 'background';
}> = [
	{
		title: 'Search Engine Optimization',
		icon: 'webSearch',
		href: '',
		bgColor: 'background',
		headingVariant: 'accent',
	},
	{
		title: 'Pay-per-click Advertising',
		icon: 'advertising',
		href: '',
		bgColor: 'accent',
		headingVariant: 'foreground',
	},
	{
		title: 'Social Media Marketing',
		icon: 'socialMedia',
		href: '',
		bgColor: 'foreground',
		headingVariant: 'background',
	},
	{
		title: 'Email Marketing',
		icon: 'email',
		href: '',
		bgColor: 'background',
		headingVariant: 'accent',
	},
	{
		title: 'Content Creation',
		icon: 'contentCreator',
		href: '',
		bgColor: 'accent',
		headingVariant: 'foreground',
	},
	{
		title: 'Analytics and Tracking',
		icon: 'analytics',
		href: '',
		bgColor: 'foreground',
		headingVariant: 'accent',
	},
];
---

<section id="services">
	<SectionLabel
		title="Services"
		description="At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include:"
	/>

	<div class="services__container">
		{services.map((el) => <Service {...el} />)}
	</div>

	<Proposal />
</section>

<style>
	.services__container {
		display: grid;
		width: 100%;
		gap: 30px;
	}

	@media (min-width: 768px) {
	}

	@media (min-width: 1024px) {
		.services__container {
			grid-template-columns: repeat(2, 1fr);
		}
	}
</style>
