---
import { getSectionById } from '@/utils/getSectionById';
import Button from '@/components/elements/Button.astro';
import SectionLabel from '@/components/elements/SectionLabel.astro';
import TeamMember from '@/components/modules/Team/TeamMember.astro';
import { teamMembers } from '@/data/team';

const { id, title, description } = getSectionById('team');

interface Props {
	shortVersion?: boolean;
}

const { shortVersion } = Astro.props;
---

<section id={id}>
	<SectionLabel title={title} description={description} />

	<div class="team__container">
		{shortVersion ? teamMembers.slice(0, 3).map((el) => <TeamMember {...el} />) : teamMembers.map((el) => <TeamMember {...el} />)}

		{
			shortVersion && (
				<a href="/about-us#team">
					<Button class="team__button">See all team</Button>
				</a>
			)
		}
	</div>
</section>

<style>
	.team__container {
		display: grid;
		grid-template-columns: 1;
		gap: 30px;
	}

	.team__button {
		margin-top: 30px;
		width: 100%;
		justify-content: center;
	}

	@media (min-width: 1024px) {
		.team__container {
			grid-template-columns: repeat(2, 1fr);
			gap: 40px;
		}

		.team__button {
			margin-top: 40px;
			width: auto;
		}
	}

	@media (min-width: 1280px) {
		.team__container {
			grid-template-columns: repeat(3, 1fr);
		}
	}
</style>
