---
import { Icon } from 'astro-icon';
import Button from '@ui/Button.astro';
import { HamburgerMenu } from '@react/HamburgerMenu';
import { routes } from '@/data/routes';
---

<nav>
	<a href="/" id="logo" aria-label="Link to main page">
		<Icon name="logo" />
	</a>

	<div id="desktop-menu">
		{
			routes.map(({ label, href }) => (
				<a href={href} class="link-highlight">
					{label}
				</a>
			))
		}
		<a href="/#contact">
			<Button variant="ghost">Request a quote</Button>
		</a>
	</div>

	<HamburgerMenu links={routes} client:load />
</nav>

<style>
	nav {
		display: flex;
		padding: 2.5rem;
		justify-content: space-between;
		align-items: center;
	}

	#logo {
		width: 150px;
	}

	#desktop-menu {
		display: none;
	}

	@media (min-width: 1024px) {
		#desktop-menu {
			display: flex;
			gap: 4rem;
			align-items: center;
		}

		#desktop-menu a {
			font-size: 2rem;
		}

		nav {
			margin-top: 4.5rem;
			padding: 0 50px;
		}
	}

	@media (min-width: 1280px) {
		nav {
			padding: 0 10rem;
			max-width: 1440px;
			margin: 0 auto;
			margin-top: 6rem;
		}
	}
</style>
