.carousel {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 4.2rem;
	overflow: hidden;
}

.carousel__items-container {
	display: flex;
	width: 100%;
	transition-duration: 0.4s;
	transition-timing-function: ease-in-out;
}

.carousel__controls {
	display: flex;
}

@media (min-width: 768px) {
	.carousel {
		gap: 7.6rem;
	}
}

@media (min-width: 1024px) {
	.carousel {
		gap: 12.4rem;
	}
}
