---
import Button from '../components/Button.astro';
import Heading from '../components/Heading.astro';
import Link from '../components/Link.astro';
import PlusIcon from '../components/PlusIcon.astro';
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon';
---

<Layout title="Positivus">
	<main>
		<h1>Heading 1</h1>
		<h2>Heading 2</h2>
		<h3>Heading 3</h3>
		<h4>Heading 4</h4>
		<p>Paragraph</p>
		<div>
		<PlusIcon isActive={true} />
		<PlusIcon isActive={false} />
	</div>
	<div class="grid">
		<Link href="/" variant='primary' textColor="background" iconColor='color-6'>
			Link
		</Link>
		<Link href="/" variant='primary' textColor="background" iconColor='color-5'>
			Link
		</Link>
		<Link href="/" variant='primary' textColor="secondary" iconColor='color-4'>
			Link
		</Link>
		<Link href="/" variant='primary' textColor="secondary" iconColor='color-3'>
			Link
		</Link>
		<Link href="/" variant='primary' textColor="primary" iconColor='color-2'>
			Link
		</Link>
		<Link href="/" variant='primary' textColor="primary" iconColor='color-1'>
			Link
		</Link>

		<Link href="/" variant='secondary' textColor="primary" iconColor='color-6'>
			Link
		</Link>
		<Link href="/" variant='secondary' textColor="secondary" iconColor='color-5'>
			Link
		</Link>
		<Link href="/" variant='secondary' textColor="background" iconColor='color-4'>
			Link
		</Link>
		<Link href="/" variant='no-icon' textColor="primary" iconColor='color-4'>
			Link
		</Link>
	</div>
	<div>
		<Button>Label</Button>
		<Button variant='secondary'>Label</Button>
		<Button variant='tertiary'>Label</Button>
	</div>
	<div>
		<Heading>Heading</Heading>
		<Heading variant='secondary'>Heading</Heading>
		<Heading variant='tertiary'>Heading</Heading>
	</div>
		<div>
		<Icon name="logo" style="max-width: 500px" />
		<Icon name="main" style="max-width: 500px" />
		<Icon name="advertising" style="max-width: 500px" />
		<Icon name="analytics" style="max-width: 500px" />
		<Icon name="contact" style="max-width: 500px" />
		<Icon name="contentCreator" style="max-width: 500px" />
		<Icon name="email" style="max-width: 500px" />
		<Icon name="freeProposal" style="max-width: 500px" />
		<Icon name="socialMedia" style="max-width: 500px" />
		<Icon name="webSearch" style="max-width: 500px" />
	</div>
	</main>
</Layout>

<style>
	main {
		width: full;
	}

	div {
		margin-top: 5px;
		padding: 15px;
		border-bottom: 2px solid black;
		display: flex;
		gap: 12px;
	}

	.grid {
		flex-direction: column;
		background-color: gray;
	}
</style>
