---
import Button from '@ui/Button.astro';
import Icon from 'astro-icon';
import { proposal } from '@/data/proposal';

const { title, description, buttonLabel, href } = proposal;
---

<div class="proposal card card-muted">
	<div class="proposal__text">
		<h3>{title}</h3>
		<p>{description}</p>
		<a href={href}>
			<Button>{buttonLabel}</Button>
		</a>
	</div>
	<Icon name="freeProposal" class="proposal__icon" />
</div>

<style>
	.proposal {
		border: none;
		box-shadow: none;
		margin-top: 7rem;
	}

	.proposal__text {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	.proposal__icon {
		display: none;
	}

	@media (min-width: 1024px) {
		.proposal {
			gap: 5rem;
			padding: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 5rem;
			flex-shrink: 0;
		}

		.proposal__text {
			width: 50%;
			padding: 5rem;
		}

		.proposal__icon {
			display: block;
			margin-left: auto;
			width: 50%;
			max-width: 440px;
		}
	}
</style>
