---
import SectionLabel from '@ui/SectionLabel.astro';
import { Accordion } from '@react/Accordion';
import { workingSteps } from '@/data/working-process';
import { getSectionById } from '@/utils/getSectionById';

const { id, title, description } = getSectionById('working-process');
---

<section id={id}>
	<SectionLabel title={title} description={description} />

	<div class="working-process__steps-container">
		{workingSteps.map((el) => <Accordion client:visible {...el} />)}
	</div>
</section>

<style>
	.working-process__steps-container {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
</style>
