.controls-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2.5rem;
}

.arrow {
	background-color: transparent;
	color: var(--background);
	border: none;
	font-weight: 600;
	font-size: 5rem;
}

.dots {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

.dot {
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 50%;
	padding: 0;
}

.active {
	background-color: var(--accent);
}
