---
interface Props {
	variant?: 'primary' | 'secondary' | 'tertiary';
	class?: string;
}

const { variant = 'primary', class: className, ...rest } = Astro.props;
---

<button class:list={['button', `button-${variant}`, className]} {...rest}>
	<slot />
</button>

<style>
	.button-primary {
		background-color: var(--secondary);
		border-color: var(--secondary);
		color: var(--background);
	}

	.button-secondary {
		background-color: transparent;
		border-color: var(--secondary);
	}

	.button-tertiary {
		background-color: var(--primary);
		border-color: var(--primary);
	}
</style>
