---
interface Props {
    variant?: 'primary' | 'secondary' | 'tertiary'
}

const { variant = "primary" } = Astro.props
---

<button class={variant}>
    <slot />
</button>

<style>
    button {
        display: inline-flex;
        padding: 20px 35px;
        align-items: flex-start;
        gap: 10px;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        border-radius: 14px;
        border: 1px solid;
        cursor: pointer;
        transition-duration: .15s;
    }

    button:hover {
        transform: scale(1.05);
    }

    .primary {
        background-color: var(--secondary);
        border-color: var(--secondary);
        color: var(--background);
    }

    .secondary {
        background-color: transparent;
        border-color: var(--secondary);
    }

    .tertiary {
        background-color: var(--primary);
        border-color: var(--primary);
    }
</style>
