---
interface Props {
	bgColor: 'primary' | 'secondary' | 'background';
	class?: string;
}

const { bgColor, class: className, ...rest } = Astro.props;
---

<div class:list={['card', `card-${bgColor}`, className]} {...rest}>
	<slot />
</div>

<style>
	.card {
		width: 100%;
		background-color: var(--muted);
		border: 1px solid var(--secondary);
		border-radius: 45px;
		padding: 50px;
		box-shadow: 0px 5px 0px 0px var(--secondary);
	}

	.card-primary {
		background-color: var(--primary);
	}

	.card-secondary {
		background-color: var(--secondary);
	}

	.card-background {
		background-color: var(--muted);
	}
</style>
