---
interface Props {
	variant?: 'primary' | 'secondary' | 'tertiary';
	as?: 'h2' | 'h3';
}

const { variant = 'primary', as = 'h2' } = Astro.props;
---

{
	as === 'h2' ? (
		<h2 class={variant}>
			<slot />
		</h2>
	) : (
		<h3 class={variant}>
			<slot />
		</h3>
	)
}

<style>
	h2 {
		padding: 0px 7px;
		border-radius: 7px;
		max-width: 100%;
	}

	h3 {
		gap: 10px;
		border-radius: 7px;
	}

	.primary {
		background-color: var(--primary);
	}

	.secondary {
		background-color: var(--background);
	}

	.tertiary {
		background-color: var(--secondary);
		color: var(--background);
	}
</style>
