---
import Heading from './Heading.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<div>
	<Heading>
		{title}
	</Heading>
	<p>
		{description}
	</p>
</div>

<style>
	div {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 40px;
		margin-bottom: 50px;
	}

	div p {
		max-width: 580px;
		flex-shrink: 0;
	}
</style>
