.accordion {
	width: 100%;
	padding: 1rem;
	transition: all 0.2s ease-out;
}

.accordion[data-state='open'] {
	background-color: var(--accent);
}

.control {
	width: 100%;
	margin: 0;
	padding: 3.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: none;
	cursor: pointer;
	background: transparent;
	font-family: var(--font-family), sans-serif;
	text-align: left;
}

.label {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.5rem;
}

.number {
	font-size: 6rem;
}

.heading {
	font-size: 2.5rem;
}

.icon {
	font-size: 3rem;
}

.content {
	font-size: 1.125rem;
	max-height: 0;
	overflow: hidden;
	transition: all 0.2s ease-out;
}

.content[data-state='closed'] {
	margin-top: 0;
}

.content[data-state='open'] {
	margin-top: 2rem;
}

.content > p {
	border-top: 1px solid var(--foreground);
	padding: 3rem 2rem;
}
